* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: gainsboro;
  min-height: 100vh;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quiz__container {
  background-color: antiquewhite;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.75);
  width: 500px;
}

.quiz__header {
  padding: 2rem;
}

h2 {
  text-align: center;
  padding: 1rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 1.1rem;
  margin: 1rem 0;
}

ul li label {
  cursor: pointer;
}

button {
  background-color: gold;
  color: darkred;
  border-radius: 5px;
  display: block;
  width: 100%;
  font-family: inherit;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
}

button:hover {
  color: gold;
  background-color: darkred;
}
